<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Accueil - Répertoire téléphonique</title>
		<link rel="stylesheet" href="{{url_for('static', filename='save_confirm.css')}}">
	</head>
	<body>
		<div id="header">
			<h1>Répertoire téléphonique</h1>
		</div>
		<h3>Enregistrer le numéro d'un correspondant</h3>
		<p>Le numéro {{phone}} de {{name}} a bien été enregistré dans le répertoire.</p>
		<p id="home"><a href="..">🏠 Cliquez ici afin de revenir au menu principal</a></p>
	</body>
</html>
