<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Accueil - Répertoire téléphonique</title>
		<link rel="stylesheet" href="CSS/style.css">
	</head>
	<body>
		<h1>Répertoire téléphonique</h1>
		<h3>Enregistrer le numéro d'un correspondant</h3>
		<form action="http://localhost:5000/save_confirm" method="post">
	    	<label>Nom: </label>  <input type=text" name="contact_name"/>
	    	<label>Numéro </label>  <input type=text" name="phone_number"/>
	     	<input type="submit" value="Enregistrer" />
	</body>
</html>
