<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Enregistrer - Répertoire téléphonique</title>
		<link rel="stylesheet" href="{{url_for('static', filename='save.css')}}">
	</head>
	<body>
		<div id="header">
			<h1>Répertoire téléphonique</h1>
		</div>
		<h3>Enregistrer le numéro d'un correspondant</h3>
		<form action="http://localhost:5000/save_confirm" method="post">
	    	<label>Nom: </label>  <input id="contact" type=text" name="contact_name"/>
	    	<label>Numéro: </label>  <input id="contact" type=text" name="phone_number"/>
	     	<input id="savebutton" type="submit" value="Enregistrer" />
		<p><a href="..">🏠 Cliquez ici afin de revenir au menu principal</a></p>
	</body>
</html>
